#LightBox{height:100%;width:100%;background:rgba(0,0,0,0.6);z-index:1000;position:fixed;top:0;  transition: all 1s ease;}
#close{background:none repeat scroll 0 0 #333;border-radius:50% 50% 50% 50%;color:#fff;font-size:15px;height:30px;margin:-10px auto auto -10px;padding:4px;position:absolute;text-align:center;width:30px;z-index:1002}
#container{position:relative;width:500px;margin:auto}
#mainContent{max-height:500px;margin:auto;position:relative;width:100%;-moz-box-shadow:0 0 16px #000;-webkit-box-shadow:0 0 16px #000;box-shadow:0 0 16px #000}#mainContent img{height:80%;text-align:center}
#left{float:left}
#right{float:right;background:#fff;color:#333;padding:20px;width:200px; max-height:500px; height:500px;}
#innards{height:450px;overflow-y:scroll}
#right h2{text-align:center;font-size:22px;color:#86c8bc}
.portfolio ul{list-style:none}.portfolio ul li{margin:20px;display:inline}.portfolio ul li a{display:inline-block}
.portfolio ul li a .here{position: relative;}
.portfolio ul li a .stuff{background:rgba(0,0,0,0.5);bottom:0px;position:absolute;}.portfolio ul li a .stuff h2{display:none; }
.portfolio ul li a .stuff div{display:none}
#loadimage{position:absolute;left:-10000px;top:0; height:100%; width:99%;max-height: 500px;max-width : 500px;}
#leftCont{background: rgba(0,0,0,0.5); height:500px; width: 499px; float: left; text-align: center; position: relative;}
#leftBig img{ max-width : 499px; max-height:500px; padding:5px;  position: absolute; top: 0; bottom: 0; left: 0;  right: 0;  margin: auto;  }
#LightBox span{color:#00EBFF;}
#LightBox span:hover{color:#00EBFF; text-decoration: underline;}
.clear{clear:both;}


/*media stuff*/

/* Smartphones (portrait and landscape) ----------- */  

@media only screen  and (max-width : 320px) {  
 	#right{
 		  float: none;
    height: 461px;
    
    width: 60%;
 	}
 	#leftCont{
 		display: none;
	}
	#mainContent{
		top:10px !important;
		left: 10px;
	}

	 .imageLone{
	 	left:-140px !important;
	 }
	 .imageLone img{
	 	width:290px;
	 }

}  
  
  @media only screen  and (min-width: 321px) and (max-width : 480px) {  
 	#right{
 		   float: none;
    height: 300px;
    width: 92%;
 	}
 	#leftCont{
 		display: none;
	}
	#mainContent{
		top:10px !important;
		left: 10px;
	}
	.imageLone{
	 	left:-200px !important;
	 }
	 .imageLone img{
	 	width:430px;
	 }

}
 
  